body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    width: 100%;
    height: 5vh;
    padding: 0 10px;
    margin-bottom: 5px;
}

.nav-left img,
.nav-right img {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    filter: brightness(0) invert(1);
}

.nav-left a, .nav-right a {
    display: inline-block;
}

.nav-left {
    margin-right: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 3vh;
}

.nav-right a {
    margin-left: 10px;
}

footer {
    height: 50px;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.register-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.register-link img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}